@import url("../fonts/happiness-sans/stylesheet.css");

/* Browser/Display fixes */
html,
body {
    font-family: 'Happiness Sans';
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
    
/* Box sizing fix taken from https://css-tricks.com/almanac/properties/b/box-sizing/ */ 
*, *::before, *::after {
    box-sizing: border-box;
}

h1:first-child
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
ol:first-child,
ul:first-child {
    margin-top: 0;
}

a:hover{
    color: #952626;
    text-decoration: none;
}

h4 {
    flex-basis: 60%;
    font-size: clamp(20px, 6vw, 25px);
    justify-content: space-around;
    text-align: center;
    background-color: aqua;
}

.thumbnail img {
    border: ridge;
    border-color: azure;
    border-style: ridge;
    border-width: 6px;
    object-fit: cover;
}

img {
    max-width: 100%;
}

.center {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
}

.sentence {
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
}

section {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-style: normal;
    justify-content: center;
    min-height: 40vh;
    padding: 48px 0;
    text-align: center;
}

section:nth-child(2n) {
    background-blend-mode: multiply;
    background-color: rgb(27, 189, 135);
    background-image: url("../images/comets.png");
    background-position: center;
    background-size: cover;
    color: rgb(226, 210, 234);
    font-size: 30px;
    text-align: center;
}

section:nth-child(3n) {
    background-blend-mode: multiply;
    background-color: rgb(140, 17, 114);
    background-image: url("../images/lake.png");
    background-position: center;
    color: rgb(250, 197, 223);
    font-size: 30px;
    text-align: center;
}

section:nth-child(4n) {
    background-blend-mode: multiply;
    background-color: rgb(177, 10, 10);
    background-image: url("../images/stamp-background.png");
    background-position: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
}

section:nth-child(5n) {
    background-blend-mode: multiply;
    background-color: rgb(76, 43, 115);
    background-image: url("../images/blockybackground.jpg");
    background-position: center;
    color: rgb(231, 117, 117);
    font-size: 35px;
    text-align: center;
}

section:nth-child(6n) {
    background-blend-mode: multiply;
    background-color: rgb(193, 111, 17);
    background-image: url("../images/map.png");
    background-position: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
}

section:nth-child(7n) {
    background-blend-mode: multiply;
    background-color: rgb(1, 146, 162);
    background-image: url("../images/stars.png");
    background-position: center;
    color: rgb(185, 248, 251);
    min-height: 40vh;
    padding: 36px 0;
    font-size: 25px;
    text-align: center;
}

section:nth-child(8n) {
    background-blend-mode: multiply;
    background-color: rgb(43, 100, 144);
    background-image: url("../images/bottombackground.png");
    background-position: center;
    color: rgb(114, 255, 133);
    min-height: 40vh;
    padding: 36px 0;
    font-size: 25px;
    text-align: center;
}

section .center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section h2 {
    text-decoration-line: underline;
    text-decoration-line: 10 px;
    width: 100%;
}

#intro {
    background-blend-mode: multiply;
    background-color: rgb(0, 83, 116);
    background-image: url("../images/comets.png");
    background-position: center;
    background-size: cover;
    color: rgb(251, 255, 0);
    font-size: 100px;
    transition: all 500ms ease-in-out;

    /* this allows us to put the color overlay over the image */
    position: relative;
    text-align: left;
    z-index: 0;
}

#intro .center {
    align-items: center;
}

#intro .thumbnail {
    flex-basis: 35%;
    margin-right: 5%;
}

#intro .text {
    flex-basis: 60%;
    font-size: clamp(24px, 6vw, 25px);
}

.thumbnail { 
    flex-grow: 0;
    flex-basis: 31.5%;
}

.thumbnail a:empty {
    display: non
}

.thumbnail a img {
    display: block;
}

/* "+" Targets an element with a class of, "thumbnail" only if it immediately follows (is a direct sibling of) another element that also has a class of, "thumbnail." */
.thumbnail + .thumbnail {
    margin-top: 30px;
}

.thumbnail + .thumbnail + .thumbnail {
    margin-top: 60px;
}